<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        {# <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css"> #}
        <link rel="stylesheet" href="bower_components/materialize/dist/css/materialize.min.css">

        <style>
            /* fallback */
            @font-face {
              font-family: 'Material Icons';
              font-style: normal;
              font-weight: 400;
              src: local('Material Icons'),
                local('MaterialIcons-Regular'),
                url(fonts/MaterialIcons-Regular.woff2)
                format('woff2');
            }

            .material-icons {
              font-family: 'Material Icons';
              font-weight: normal;
              font-style: normal;
              font-size: 24px;
              line-height: 1;
              letter-spacing: normal;
              text-transform: none;
              display: inline-block;
              white-space: nowrap;
              word-wrap: normal;
              direction: ltr;
              -webkit-font-feature-settings: 'liga';
              -webkit-font-smoothing: antialiased;
            }
        </style>


        <link rel="stylesheet" href="bower_components/material-icons/css/material-icons.min.css">
    </head>

    <body>
        <div class="container">
            <h1 class="center-align">Rendu devoir</h1>
            <form id="rendu_ds" action="/generate" method="POST" data-persist="garlic">
                <section class="row">
                    <div class="col s12 m6">
                        <div class="input-field">
                            <label for="title">Titre du devoir</label>
                            <input id="title" type="text" name="title" class="autocomplete" autocomplete="off" class="validate" required data-destroy="false">
                        </div>
                    </div>
                    <div class="col s12 m6">
                        <div class="input-field">
                            <label for="student">Elève</label>
                            <input type="text" id="student" name="student" class="autocomplete" autocomplete="off" class="validate" required>
                        </div>
                        <div class="input-field">
                            <label for="note">Note sur 20</label>
                            <input id="note" type="number" min="0" max="20" step="0.5" name="note" autocomplete="off" class="validate" required>
                        </div>
                        <p>
                          <input type="checkbox" name="alert[cours]" id="alert_cours" />
                          <label for="alert_cours">Alerte cours</label>
                        </p>
                        <p>
                          <input type="checkbox" name="alert[comportement]" id="alert_comportement" />
                          <label for="alert_comportement">Alerte comportement</label>
                        </p>
                    </div>
                </section>
                <section>
                    <h4>Copie</h4>
                    <div class="row">
                        <div class="col m6">
                            <div class="input-field">
                                <label for="copie_positif">Points positifs</label>
                                <textarea id="copie_positif" class="materialize-textarea" name="copie[positif]"></textarea>
                            </div>
                        </div>
                        <div class="col m6">
                            <div class="input-field">
                                <label for="copie_amelioration">Points à améliorer</label>
                                <textarea id="copie_amelioration" class="materialize-textarea" name="copie[amelioration]"></textarea>
                            </div>
                        </div>
                    </div>
                </section>
                <section>
                    <h4>Attitude en classe</h4>
                    <div class="row">
                        <div class="col m6">
                            <div class="input-field">
                                <label for="attitude_positif">Points positifs</label>
                                <textarea id="attitude_positif" class="materialize-textarea" name="attitude[positif]"></textarea>
                            </div>
                        </div>
                        <div class="col m6">
                            <div class="input-field">
                                <label for="attitude_amelioration">Points à améliorer</label>
                                <textarea id="attitude_amelioration" class="materialize-textarea" name="attitude[amelioration]"></textarea>
                            </div>
                        </div>
                    </div>
                </section>
                {#
                <section>
                    <h2>Compétences</h2>
                    <table class="table">
                    <tr>
                        <th>Compétence</th>
                        <th class="text-center">Acquis</th>
                        <th class="text-center">En cours d'acquisition</th>
                        <th class="text-center">Non acquis</th>
                    </tr>
                    <tbody id="skillTable" >
                    <tr id="firstSkill">
                        <th>
                            <select name="skill[0][name]" >
                                <optgroup label="Se repérer dans le temps et construire des repères historiques de la 6ème à la 4ème">
                                    <option value="CO1">CO1 - Mémoriser pour nommer les repères  historiques et les grandes périodes historiques</option>
                                    <option value="CO2">CO2 - Mémoriser pour nommer et dater des grands repères historiques</option>
                                    <option value="CO3">CO3 - nommer, dater et expliquer  des grands repères historiques</option>
                                    <option value="CO4">CO4 - Situer un événement dans une époque ou une période donnée</option>
                                </optgroup>
                                <optgroup label="Se repérer dans l'espace  et construire des repères géographiques de la 6ème à la 3ème">
                                    <option value="CO6">CO6 - nommer  les grands repères terrestres et de population</option>
                                    <option value="CO7">CO7 - nommer et localiser les grands repères de population</option>
                                    <option value="CO8">CO8 - les nommer, les localiser , les situer les uns par rapport aux autres</option>
                                    <option value="CO9">CO9 - les situer à différentes échelles</option>
                                </optgroup>
                                <optgroup label="Analyser et comprendre un document">
                                    <option value="CO10">CO10 - comprendre le sens général d'un ou de plusieurs documents</option>
                                    <option value="CO11">CO11 - replacer le ou les documents dans son contexte en identifiant les éléments pour le présenter et/ou identifier son point de vue</option>
                                    <option value="CO12">CO12 - prélever des informations pertinentes pour répondre à une ou des questions posées et/ou les classer</option>
                                    <option value="CO13">CO13 - expliquer le ou les documents et/ou  les croiser,  à l'aide de ses connaissances</option>
                                </optgroup>
                                <optgroup label="Pratiquer différents langages">
                                    <option value="CO18">CO18 - s'exprimer dans un langage précis avec un lexique historique et géographique approprié,</option>
                                    <option value="CO19">CO19 - présenter l'exposé avec un support (affiche, diaporama ,,,)</option>
                                    <option value="CO20">CO20 - échanger, argumenter lors d'un débat,</option>
                                </optgroup>
                                <optgroup label="Raisoner justifier une démarche et des choix effectués">
                                    <option value="CO21">CO21 - se poser des questions sur une situation problème</option>
                                    <option value="CO22">CO22 - formuler des hypothèses</option>
                                    <option value="CO23">CO23 - chercher des preuves pour vérifier les hypothèses</option>
                                    <option value="CO24">CO24 - répondre à la question sur la situation problème de départ.</option>
                                </optgroup>
                                <optgroup label="Coopérer/mutualiser le travail en équipe">
                                    <option value="CO30">CO30 - découvrir et comprendre la consigne donnée</option>
                                    <option value="CO31">CO31 - Discuter/argumenter pour défendre ses choix</option>
                                    <option value="CO32">CO32 - négocier une solution commune</option>
                                    <option value="CO33">CO33 - élaborer une tâche commune mais partagée</option>
                                </optgroup>
                            </select>
                        </th>
                        <td class="text-center"><input type="radio" name="skill[0][state]" value="1"></td>
                        <td class="text-center"><input type="radio" name="skill[0][state]" value="2"></td>
                        <td class="text-center"><input type="radio" name="skill[0][state]" value="3"></td>
                    </tr>
                    </tbody>
                    <tr>
                        <td colspan="4"><button id="addSkill" type="button" class="btn btn-sm btn-default"><i class="fa fa-plus"></i> Ajouter une compétence</button></td>
                    </tr>
                    </table>
                </section>
                #}

               <div class="fixed-action-btn" style="bottom: 45px; right: 24px;">
                    <button type="submit" class="btn-floating btn-large red">
                      <i class="large material-icons">file_download</i>
                    </button>
               </div>

            </form>
        </div>

        <script src="bower_components/jquery/dist/jquery.min.js"></script>
        <script src="bower_components/garlicjs/dist/garlic.min.js"></script>
        {# <script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script> #}
        <script src="bower_components/materialize/dist/js/materialize.min.js"></script>
        <script src="bower_components/store-js/store.min.js"></script>

        <script>
            {#
            function cloneRow() {
              var row = document.getElementById("firstSkill"); // find row to copy
              var table = document.getElementById("skillTable"); // find table to append to
              var clone = row.cloneNode(true); // copy children too

              table.appendChild(clone); // add new row to end of table
            }
            $('#addSkill').on("click", function() {
                cloneRow();
            });
            #}

            $(document).ready(function() {
                Materialize.updateTextFields();
                $('select').material_select();
            })
        </script>
    </body>
</html>
